* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.loading {
  padding: 1rem 0;
  text-align: center;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  /* width: 50px; */
  padding: 0px;
  /* margin-left: calc(50% - 40px); */
}

.spin {
  height: 23px;
  width: 23px;
  border-radius: 50%;
  border: dashed 5px white;
  animation-name: spin;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background: white;
  padding: 20px;
}

.logo {
  font-weight: bold;
  margin-right: 10px;
}

.userInfo-wrap {
  margin-top: 1rem;
}

.user-name {
  font-size: 0.875rem;
}

.container {
  max-width: 500px;
  width: 100%;

  margin: 0 auto;
}

.not-post {
  margin-top: 10rem;
  text-align: center;
}

.mb-5 {
  margin-bottom: 5rem;
}
.mb-3 {
  margin-bottom: 3rem;
}

.mt-2 {
  margin-top: 2rem;
}

button {
  border: 1px solid #eee;
  border-radius: 5px;
  width: 70px;
  padding: 0.5rem 0;
  transition: all 0.3s;
  cursor: pointer;
}

.title {
  font-size: 1.5rem;
  text-align: center;
}

.list-item {
  position: relative;
  background: white;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 1rem;
  box-shadow: rgb(224, 224, 224) 0px 2px 4px 0px;
  opacity: 1;
  transition: all 1s;
}
.list-item h4 {
  display: inline;
  color: black;
  font-size: 20px;

  font-weight: 800;
  margin: 0;
}
.list-item p {
  color: grey;
  margin: 5px 0px;
}
.list-img {
  /* width: 100%; */
  max-width: 100%;
  margin: 10px 0;
  border-radius: 10px;
}

.post-like-count {
  color: gray;
  font-size: 0.7rem;
}

.user-name {
  color: gray;
  margin-left: 5px;
  font-size: 0.7rem;
}

.post-like-btn {
  /* position: absolute; */
  /* right: 15px; */
  /* top: 4rem; */
  cursor: pointer;
  font-size: 1.2rem;
}

.form-container {
  width: 100%;
  padding: 2.5rem;
  margin: 0 auto;
  text-align: center;
}

.post-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 30rem;
  width: 100%;
  padding: 3rem;
}

.post-form input,
textarea {
  outline: none;
  height: 2.5rem;
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 0.5rem;
  resize: none;
  margin: 1rem 0;
}

.post-form textarea {
  height: 5rem;
}

.post-form button {
  width: 100px;
}

.post-form button:hover {
  background-color: #74b9ff;
  color: white;
}

.emoticon-box {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.comment-remove {
  position: absolute;
  right: 0;
  cursor: pointer;
}

.comment-wrap {
  margin-top: 1.5rem;
  padding-top: 1rem;
  border-top: 1px solid #eee;
}

.comment-list:nth-last-child(2) {
  margin-bottom: 1rem;
}

.comment-item {
  position: relative;
  font-size: 0.825rem;
}

.comment-input-wrap {
  display: flex;
}

.comment-input {
  width: 100%;
  margin-right: 0.5rem;
  border: 1px solid #eee;
  line-height: 1.5;
  outline: none;
  padding: 0.5rem;
}

.comment-name {
  font-size: 0.7rem;
}

@media (min-width: 750px) {
}

@media (max-width: 750px) {
  .container {
    padding: 1rem;
  }
}
